## Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\python\Machine learning\Datasets\Stock prediction.csv')

In [3]:
df.head()

            x           y
0  168.181818  160.840244
1  187.878788  159.413657
2  207.575758  157.136809
3  227.272727  159.357847
4  246.969697  157.542862

In [4]:
df.info

<bound method DataFrame.info of               x           y
0    168.181818  160.840244
1    187.878788  159.413657
2    207.575758  157.136809
3    227.272727  159.357847
4    246.969697  157.542862
..          ...         ...
89  1921.212121  172.285091
90  1940.909091  176.001331
91  1960.606061  176.128171
92  1980.303030  175.813257
93  2000.000000  175.530826

[94 rows x 2 columns]>

In [5]:
df.isnull().sum()

x    0
y    0
dtype: int64

## Divide the data into dependent and independent variable

In [6]:
X=df.iloc[:,:-1]

In [7]:
X

              x
0    168.181818
1    187.878788
2    207.575758
3    227.272727
4    246.969697
..          ...
89  1921.212121
90  1940.909091
91  1960.606061
92  1980.303030
93  2000.000000

[94 rows x 1 columns]

In [8]:
Y=df.iloc[:,1]

In [9]:
Y

0     160.840244
1     159.413657
2     157.136809
3     159.357847
4     157.542862
         ...
89    172.285091
90    176.001331
91    176.128171
92    175.813257
93    175.530826
Name: y, Length: 94, dtype: float64

## Split the model into Training and Testing

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

## Train the model

In [12]:
from sklearn.svm import SVR

In [13]:
model=SVR()
model.fit(X_train,Y_train)

SVR()

## Prediction

In [14]:
Y_pred=model.predict(X_test)

In [15]:
Y_pred

array([160.48549406, 163.11483787, 169.15314254, 160.43047103,
       160.17264902, 170.09324512, 170.27880122, 173.14886415,
       163.87154341, 173.02218502, 172.74085993, 160.09985735,
       168.16384611, 173.69061306, 173.46530284, 169.90718696,
       160.07026005, 161.33488413, 172.26404917, 166.85757402,
       162.16525207, 166.388415  , 161.7316526 , 160.14583831])

In [16]:
from sklearn.metrics import r2_score,mean_squared_error

In [17]:
mse=mean_squared_error(Y_test,Y_pred)
mse

5.232356691746251

In [18]:
rmse=np.sqrt(mse)
rmse

2.287434521848932

In [19]:
r2score=r2_score(Y_test,Y_pred)*100
r2score

85.57906422453324